sudo: false

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

before_install:
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - sed -i 's/git@github.com:/https:\/\/github.com\//' stock-stats/.gitmodules
  - git submodule update --init --recursive
  
  # Download and unpack the stack executable
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - stack setup

script:
  - stack build

# addons:
#   apt:
#     sources:
#     - hvr-ghc
#     packages:
#     - ghc

# https://gist.github.com/petrbel/c3bf7e0f59c22a52f534
git:
  submodules: false

