sudo: required

services:
  - docker

# Caching so the next build will be fast too.
cache:
  timeout: 600
  bundler: false
  directories:
  - $HOME/.stack
  - $HOME/docker
  - /var/lib/docker
  # https://github.com/travis-ci/travis-ci/issues/5358#issuecomment-248915326
  - $HOME/build/peterbecich/stock-collector/.stack-work
  
before_install:
  - df -h
  
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y install docker-ce

  # Load cached docker images
  - if [[ -d $HOME/docker ]]; then ls $HOME/docker/*.tar.gz | xargs -I {file} sh -c "zcat {file} | docker load"; fi

  - pwd

  - openssl aes-256-cbc -K $encrypted_9db3e37c4e30_key -iv $encrypted_9db3e37c4e30_iv -in stock-collector_secrets.tar.enc -out stock-collector_secrets.tar -d
  - tar xvf stock-collector_secrets.tar
  
  - eval "$(ssh-agent -s)" #start the ssh agent

  - chmod 600 travis_collector_push_github
  - ssh-add travis_collector_push_github

  - chmod 600 travis_collector
  - ssh-add travis_collector

  - chmod 600 travis_collector_stats
  - ssh-add travis_collector_stats
  
  - chmod 600 travis_collector_common
  - ssh-add travis_collector_common
  
  - chmod 600 travis_collector_stats_common
  - ssh-add travis_collector_stats_common

  - git submodule update --init --recursive

  - pwd
  - ls

  - docker pull fpco/stack-build:lts-10.3
  
  # Download and unpack the stack executable
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - stack setup

  - df -h
  
script:
  - df -h
  # - echo "don't build just yet"
  # - stack build
  - stack build --only-dependencies --fast
  # - stack image container
  # - df -h
  # - echo "run merge.sh"  # This should not run if script fails earlier
  # # https://stackoverflow.com/a/43953433/1007926
  # - export GIT_SSH_COMMAND='ssh -i $HOME/build/peterbecich/stock-collector/travis_collector_push_github'
  # - ./stock-ops/travis/merge.sh
  # - ./scripts/dockerhub.sh
  

addons:
  ssh_known_hosts:

# https://docs.travis-ci.com/user/deployment/custom/
# https://gist.github.com/petrbel/c3bf7e0f59c22a52f534
git:
  submodules: false

before_cache:
  # Save tagged docker images
  - >
    mkdir -p $HOME/docker && docker images "fpco/*" -a --filter='dangling=false' --format '{{.Repository}}:{{.Tag}} {{.ID}}'
    | xargs -n 2 -t sh -c 'test -e $HOME/docker/$1.tar.gz || docker save $0 | gzip -2 > $HOME/docker/$1.tar.gz'

  
